html, body, .mapCanvas {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1em;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 400;
}

header {
  position: relative;
  color: white;
  background-color: hsl(217, 50%, 35%);
  text-align: center;
  height: 10vh;
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 20px grey;
  z-index: 10;
}

.headerContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  background-color: hsl(153, 100%, 35%);
  box-shadow: 0px 0px 10px #999;
  padding: 15px;
  border-radius: 50%;
  z-index: 20;
}

.aboutButton:hover {
  background-color: hsl(153, 100%, 40%);
}

.aboutButton img {
  width: 55px;
  height: 55px;
}

.popupContent, .popupOverlay {
  visibility: hidden;
}

.popupOverlay {
  position: absolute;
  background-color: #FFF;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  height: 160px;
  left: 50%;
  top: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 25;
  box-shadow: 0px 0px 10px #999;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.popupContent h2 {
  font-size: 1.5em;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
}

.popupOverlay.active, .popupContent.active {
  visibility: visible;
  opacity: 1;
}

.aboutCloseButton {
  color: #fff;
  font-weight: 700;
  border: 0;
  background: none;
  background-color: hsl(217, 50%, 35%);
  box-shadow: none;
  border-radius: 0px;
  padding: 10px 20px;
  cursor: pointer;
}

.aboutCloseButton:hover {
  background-color: hsl(217, 50%, 50%);
}

.mapCanvas {
  height: 90vh;
  margin: 0;
  padding: 0;
}

.mapCanvas .infoWindow {
  padding: 10px;
}

.mapCanvas .leftCol, .mapCanvas .rightCol {
  display: inline-block;
  padding: 10px 0;
}

.mapCanvas .leftCol {
  float: left;
}

.mapCanvas .rightCol {
  float: left;
  margin-left: 50px;
}

.mapCanvas p {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.mapCanvas .title {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 5px 0 0 0;
  border-bottom: 1px solid #999;
}

.mapCanvas .locationName {
  font-weight: bold;
}

.mapCanvas .subHead {
  font-weight: bold;
  margin: 5px 0 0 0;
}

.dayLabel span {
  display: inline-block;
  min-width: 40px;
}

.open, .closed {
  display: block;
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 1em;
  width: 99%
}

.open {
  color: green;
  border: 1px solid green;
}

.closed {
  color: red;
  border: 1px solid red;
}

.kiosk, .getDirections {
  margin-top: 10px;
  text-align: center;
  line-height: 1.4em;
  padding: 5px;
}

.kiosk {
  background-color: hsl(217, 50%, 85%);
  clear: left;
}

.getDirections {
  display: block;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  background-color: hsl(217, 50%, 35%);
  clear: left;
}

.getDirections:hover {
  background-color: hsl(217, 50%, 50%);
  ;
}

@media screen and (max-width: 480px) {
  header {
    height: 20vh;
  }
  .mapCanvas {
    height: 80vh;
  }
  .mapCanvas .title {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .mapCanvas p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
  }
  .subHead {
    font-family: 'Lato', sans-serif;
  }
  .getDirections {
    font-size: 0.8em;
  }
  .dayLabel span {
    min-width: 30px;
  }
  .open, .closed {
    padding: 3px 0;
  }
  .aboutButton {
    left: 25px;
    bottom: 25px;
  }
  .popupOverlay {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 640px) {
  .mapCanvas .leftCol, .mapCanvas .rightCol {
    display: block;
    padding: 0;
  }
  .mapCanvas .leftCol {
    float: none;
  }
  .mapCanvas .rightCol {
    margin-left: 0;
    width: 100%;
  }
  .mapCanvas .title {
    margin: 5px 0 10px 0;
  }
}